{% extends 'layout.html' %}
{% import 'macros.html' as macro %}
{% block title %}Home{% endblock %}

{% block content %}
<html>
    <body>
        <div id="books">
            <h2>Home Page</h2>
            <!-- <p>Welcome back, {{ username }}!</p> -->
            <form method="POST" action="/home" class="d-flex">
                <h3 class="text-center">Search Books</h3>
                <p>
                    {{ searchForm.hidden_tag() }}
                    {{ searchForm.searched.input }}{{ searchForm.searched(size=16.5) }}<br>
                </p>
                <p>
                    Order by  {{ searchForm.sortBy }}
                </p>
                <p>
                    <button class="btn" type="submit">Search</button>
                </p>
                
            </form>
            <div class="container">
                <div>
                    {{ macro.displayBook(titles) }}
                </div>
            </div>
        </div>
    </body>
</html>
{% endblock %}