{% extends 'layout.html' %}
{% import 'macros.html' as macro %}
{% block title %}Home{% endblock %}

{% block content %}
<html>
    <body>
        <div id="books">
            <h2>Home Page</h2>
            <form action="{{ url_for('home') }}" method="post">
				<input type="text" name="searched" placeholder="searched" id="searched" required>        
                <select name="sortBy" placeholder="sortBy" id="sortBy"required>
                    <option value='relevance' selected> Relevância </option>
                    <option value='title'>Título</option>
                    <option value='authors'>Autores</option>
                </select>
				<button type="submit">Pesquisar</button>
			</form>
            <div class="container">
                <div>
                    {{ macro.displayBook(titles) }}
                </div>
            </div>
        </div>
    </body>
</html>
{% endblock %}