{% macro displayBook(books_list) %}
{% if books_list %}
<h3 class="text-center">Search Results:</h3>
    {% for book in books_list %}
        <div style="margin-bottom: 15px;">
            <div class="text-center"> 
                <hr>
                <div style="text-align: center;">
                    <h3>{{ book.title }}</h3>
                    <img src="{{ book.imageLink }}" alt="{{ book.title }} poster" class="img-responsive">
                </div>
                <p>{{ book.description }}</p>
                <div style="text-align: center;">
                    <input type="submit" value="Escrever review">
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% endmacro %}