{% extends 'layout.html' %}
{% import 'macros.html' as macro %}
{% block title %}Profile{% endblock %}

{% block content %}
<h2> Perfil de {{ account['username'] }}</h2>
<div id="userContainer">
    <div id="UserInfo">
        {% if account["profile_pic"] %}
            <img src="{{ url_for('static', filename='profilePics/'+ account['profile_pic'])}}" width="200">
        {% else %}
            <img src="{{ url_for('static', filename='profilePics/default.png')}}" width="200">
        {% endif %}
        <table>
            <tr>
                <td>Nome de Usuario:</td>
                <td>{{ account['username'] }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{ account['email'] }}</td>
            </tr>
            <tr>
                <td> <a href="{{ url_for('readed') }}">Livros lidos</a></td>
            </tr>
            <tr>
                <td><a href="{{ url_for('reading') }}">Lendo</a></td>
            </tr>
            <tr>
                <td><a href="{{ url_for('wantRead') }}">Quero ler</a></td>
            </tr>
            <tr>
                <td><a href="{{ url_for('profilePage.profileEdit') }}">Editar Perfil</a></tr>
            </tr>
        </table>
    </div>
    <div id="UserProfile">
        <div id="biografy">
            {{ account['bio'] }}
        </div>
        <div id="reviews">
            {{ macro.reviews(books) }}
        </div:>
    </div>
</div>
{% endblock %}