{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2> Perfil de {{ account['username'] }}</h2>
<div id="userContainer">
    <div id="UserInfo">
        <img src="{{ url_for('static', filename='profilePics/default.png')}}" width="200">
        <table>
            <tr>
                <td>Username:</td>
                <td>{{ account['username'] }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{ account['email'] }}</td>
            </tr>
        </table>
    </div>
    <div id="UserProfile">
        <p>BIO</p>
    </div>
</div>
{% endblock %}